typing_extensions
tensorflow==2.5.0
streamlit==0.82.0
imageio==2.9.0
opencv_python==4.5.1.48
tensorflow_hub==0.12.0
git+https://github.com/tensorflow/docs
numpy
av==8.0.3
matplotlib
streamlit_webrtc==0.20.1
